<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Platform</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

        
            <div class="logo-div">
                <img src="../assets/logo1.png" alt="video-viewer-logo">
            </div>
            <div class="head-div">
                TOP 3 MUSIC VIDEOS OF THE WEEK
            </div>

            <div>
                New User?
                <a href="/users/signup"> Signup to view content </a>
            </div>
            <div>
                Returning User?
                <a href="/users/login"> Login to view content </a>
            </div>
        <!-- <div class="vid-num">
            1
        </div>

        
        <div class="video-div">
            <button>Previous</button>
            <video id="videoPlayer" width="750" controls autoplay>
                    <source src="/video" type="video/mp4" />
            </video>
            <button>Next</button>
        </div> -->
    
  </body>
</html>