.logo-div {
    width:50%;
    margin: auto;
    padding-left: 35%;
    border:1px solid red;
} 

img {
    width:30%;
}

.head-div {
    width: 50%;
    margin: auto;
    font-size: 32px;
    font-weight: bold;
    border:1px solid teal;
    text-align: center;
}

.vid-num {
    width:50%;
    margin: auto;
    font-size: 60px;
    font-weight: bolder;
    border:1px solid blue;
    text-align: center;
}

.video-div {
    width:70%;
    margin: auto;
    border: 1px solid greenyellow;
    margin-left: 20%;
    
}

button {
    width: 100px;
    padding: 10px;
    background-color: #e6e6e6;
    font-size: 1.1rem;
    font-weight: bold;
    border: 0;
}

video{
    margin-top: 10px;
}

form {
    width:50%;
    margin: auto;
    background-color: greenyellow;
}