
.head1 {
    display: flex;
}

.logo-div {
    width:50%;
    margin: auto;
     /* border:1px solid red;     */
} 

img {
    width: 15rem;
    padding-left: 33%;
}

.head-div {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

/* .vid-num {
    width:50%;
    margin: auto;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
} */

.video-div {
    width:56%;
    margin-left: 25%; 
    /* border: 1px solid greenyellow; */
}

button {
    width: 100px;
    padding: 10px;
    background-color: #e6e6e6;
    font-size: 1.1rem;
    font-weight: bold;
    border: 0;
}

video{
    margin-top: 10px;
}

form {
    width:35%;
    margin: auto;
    background-color: rgb(247, 247, 151);
    text-align: center;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 3%;
}


input[type=submit] {
    background-color: orange;
}

ul { 
    list-style-type: none;
    /* list-style: none; */
}
li{
    text-align: center;
}

li:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

button[id=prev] {
    border-radius: 2px;
}

button[id=next] {
    margin-left: 75%;
    border-radius: 2px;
}

button:hover {
    background-color: orange;
}

.admin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.forms{
    margin-top: 5%;
}

#admin {
    background-color: orchid;
}

#usu {
    background-color:greenyellow;
}

#head-div {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5%;
    color: rgb(75, 0, 136);
    font-weight: bolder;
}

#logo-div {
    border-radius: 10px;
    border: 3px solid #e6e6e6;
    width: 45%;
    margin: auto;
    margin-bottom: 5px;
}

img[alt=index-logo] {
    width:70%;
    padding-left:10px;
    margin-left: 80px;
}

a {
    font-size: 2.5rem;
    margin-left: 100px;
    color: rgb(75, 0, 136);
}

a:hover {
    color: orange;
}

.last {
    display: inline-block;
    margin-left: 21%;
}