<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href="/users/logout">Logout</a>
    
<div class="head1">
    <h1 class="hello-login">Hello <%= user.charAt(0).toUpperCase() + user.slice(1)  %></h1>
    <div class="logo-div">
        
        <img src="/logos/logo1.png" alt="video-viewer-logo">
        <div class="head-div">
        MOST WATCHED VIDEOS OF THE WEEK
        </div>
       
    </div>
    
</div>

<div class="video-div">
    <ul>
        <% if (files.length > 0) { %>
  <li>  <%= files[0].title %> </li>
  <li> <%= files[0].description %> </li>
   <li> <video controls id="videoPlayer" name="vid" width="750"  >
            <source type="video/mp4" src=<%= files[0].filepath %> /> 
            <!-- <source type="video/mp4" src="/uploads/myFile-1629121759450.mp4" /> -->
    </video>
</li>  <% } %>

</ul>

    <button id="prev">Previous</button>
    
    <% if (counter < count.length) { %>
    <button id="next">Next</button>
    <% } %>
    
 <!-- <% if (files.length === 0) { %> -->
    <!-- <div class="no-vid"><i>No videos uploaded. Contact the administrator </i></div> -->
    <!-- <% } %> -->
    
</div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        let counter = 1;
        const nextbtn = document.querySelector('#next');
        function getNextVideo(){
            counter++;
            let url = 'http://localhost:3000/users/mansion';
            let data = {data:counter}
            $.post(url,data,(data,status)=>{
                console.log(status,data)
            })
            location.reload()
        }
        nextbtn.addEventListener('click', getNextVideo)
        
    </script>
  
</body>
</html>