<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href="/users/logout">Logout</a>
    
<div class="head1">
    <h1>Hello <%= user.charAt(0).toUpperCase() + user.slice(1)  %></h1>
    <div class="logo-div">
        
        <img src="/logo1.png" alt="video-viewer-logo">
        <div class="head-div">
        TOP MUSIC VIDEOS OF THE WEEK
        </div>
       
    </div>
    
</div>

   

<div class="video-div">
    <ul>
  <li>  <%= files[0].title %> </li>
  <li> <%= files[0].description %> </li>
   <li> <video controls id="videoPlayer" name="vid" width="750"  autoplay>
            <!-- <source type="video/mp4" src="<%=files[0].filename %>" /> -->
            <source type="video/mp4" src="/uploads/myFile-1629121759450.mp4" />
    </video>
</li>
</ul>
    <button id="prev">Previous</button>
    <button id="next">Next</button>
</div>
    
</body>
</html>